﻿@{
    ViewBag.Title = "Yönetim Paneli";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function Sil(id) {
        console.log(this);
        $.ajax({
            type: "POST",
            url: "/Book/Delete",
            data: '{Id: "'+id+'"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response == "1") {
                    $("#kayit_"+id).remove();
                    swal("Tebrikler!", "Kitap başarıyla silindi.", "success");
                }
                else {
                    swal("Hata!", "Bir hata oluştu daha sonra tekrar deneyin.", "error");
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function Vitrin(id) {
        console.log(this);
        $.ajax({
            type: "POST",
            url: "/Book/Vitrin",
            data: '{Id: "' + id + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response == "1") {
                    $("#vitrin_" + id).attr("class", "glyphicon glyphicon-heart");
                    swal("Tebrikler!", "Kitap vitrine alındı.", "success");
                }
                else if (response == "0")
                {
                    $("#vitrin_" + id).attr("class", "glyphicon glyphicon-heart-empty");
                    swal("Tebrikler!", "Kitap vitrinden kaldırıldı.", "success");
                }
                else {
                    swal("Hata!", "Bir hata oluştu daha sonra tekrar deneyin.", "error");
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>

<div class="container">
    <h2>Kitap İşlemleri</h2>
    <a href="/Book/Add" class="btn btn-default">Yeni Kitap Ekle</a> 
    <h2>Kitaplar</h2>
    <p>Sistemdeki bütün kitaplar aşağıda listelenmiştir.</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Kitap No</td>
                <td>Kitap Adı</td>
                <td>Fiyat</td>
                <td>İşlem</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var kitap in ViewBag.Kitaplar)
            {

                <tr id="kayit_@kitap.Id">
                    <td>@kitap.Id</td>
                    <td>@kitap.KitapAdi</td>
                    <td>@kitap.Fiyat TL</td>
                    @if (@kitap.Vitrin == 0)
                    {
                        <td style="color:red;cursor:pointer;"><i id="vitrin_@kitap.Id" onclick="javascript:Vitrin(@kitap.Id);" class="glyphicon glyphicon-heart-empty"></i> - <i onclick="javascript:Sil(@kitap.Id)" class="glyphicon glyphicon-remove"></i> </td>
                    }
                    else
                    {
                        <td style="color:red;cursor:pointer;"><i id="vitrin_@kitap.Id" onclick="javascript:Vitrin(@kitap.Id);" class="glyphicon glyphicon-heart"></i> - <i onclick="javascript:Sil(@kitap.Id)" class="glyphicon glyphicon-remove"></i> </td>
                    }

                </tr>

            }
        </tbody>
    </table>

</div>

    <div class="container">
        <h2>Gelen Siparişler</h2>
        <p>Gelen siparişler aşağıda listelenmiştir.</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Sipariş No</td>
                    <td>Kitap Adı</td>
                    <td>Alıcı Email</td>
                    <td>Tarih</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var siparis in ViewBag.Siparisler)
            {

                    <tr>
                        <td>@siparis.Id</td>
                        <td>@WebApp.Models.Yardimci.KitapAdiniGetir(siparis.KitapId)</td>
                        <td>@WebApp.Models.Yardimci.KullaniciEmailGetir(siparis.UserId)</td>
                        <td>@siparis.Tarih</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
