﻿
@{
    ViewBag.Title = "Kitaplar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="index-h2">Satışta Olan Kitaplar</h2>
    <div class="row">
        @foreach (var Kitap in ViewBag.Kitaplar)
        {
            <a href="/Book/Goruntule/@Kitap.Id">
                <div class="col-md-3 col-sm-3 col-lg-2 col-xs-6">
                    <div class="kitap">
                        <div class="kitap_resim"><img src="@Kitap.ResimUrl" /></div>
                        <div class="kitap_isim">@Kitap.KitapAdi</div>
                        <div class="kitap_fiyat">@Kitap.Fiyat TL</div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>