﻿@{
    ViewBag.Title = "Kitap Satın Al";
}

<div class="container">
    <h2 class="index-h2">Vitrindekiler</h2>
    <div class="row">
        @foreach (var Kitap in ViewBag.Vitrindekiler)
        {
            <a href="/Book/Goruntule/@Kitap.Id">
                <div class="col-md-3 col-sm-3 col-lg-2 col-xs-6">
                    <div class="kitap">
                        <div class="kitap_resim"><img src="@Kitap.ResimUrl" /></div>
                        <div class="kitap_isim">@Kitap.KitapAdi</div>
                        <div class="kitap_fiyat">@Kitap.Fiyat TL</div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>

<div class="container">
    <h2 class="index-h2">En Çok Satanlar</h2>
    <div class="row">
        @foreach (var Kitap in ViewBag.EnCokSatanlar)
        {
            <a href="/Book/Goruntule/@Kitap.Id">
                <div class="col-md-3 col-sm-3 col-lg-2 col-xs-6">
                    <div class="kitap">
                        <div class="kitap_resim"><img src="@Kitap.ResimUrl" /></div>
                        <div class="kitap_isim">@Kitap.KitapAdi</div>
                        <div class="kitap_fiyat">@Kitap.Fiyat TL</div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>