﻿
@{
    if (ViewBag.NotFound != true)
    {
        ViewBag.Title = ViewBag.Kitap.KitapAdi + " Satın Al";
    }
    else
    {
        ViewBag.Title = "Kitap Bulunamadı";
    }

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.NotFound == true)
{
    <h2>Aradığınız kitabı bulamadık.</h2>
}
else
{

    <script type="text/javascript">
        $(function () {
            $(".satinal").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/Book/SatinAl",
                    data: '{Id: "@ViewBag.Kitap.Id" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response == "1")
                        {
                            swal("Tebrikler!", "Satın alma işlemi başarıyla gerçekleşti.", "success");
                        }
                        else if (response == "0") {
                            swal("Hata!", "Satın almak için giriş yapmalısınız.", "error");
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
    </script>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="kitap_resim_uzun"><img src="@ViewBag.Kitap.ResimUrl" /></div>
            </div>
            <div class="col-md-9">
                <h2 class="index-h2">@ViewBag.Kitap.KitapAdi</h2>

                @if (ViewBag.Kitap.Aciklama == null)
                {
                    <span>Açıklama bulunamadı.</span>
                }
                else
                {
                    @ViewBag.Kitap.Aciklama
                }
            </div>
        </div>

        <div class="row satis">
            <div class="col-md-6 pull-right">
                <div class="satinal"><span class="fiyat">@ViewBag.Kitap.Fiyat TL</span> @if (Request.IsAuthenticated) { <span>Hemen Al</span> } else { <a href="/Account/Login">Giriş Yap</a> }</div>
            </div>
        </div>
    </div>
}

